<div class="row">
    <div class="col-sm-12">

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4" style="font-size: large;font-weight: bold;">
                {{ISign.userName}}  &nbsp;&nbsp;
                <a routerLink="edit">
                    <input type="button" value="Edit Profile" class="btn btn-secondary" (click)="btn_Edit()">
                </a> 
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
            </div>
        </div>


    </div>
</div>