<div class="row">
    <div class="col-sm-12">
    
      
      
     <div class="row" style="margin-top: 70px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
        <img src="app/Images/InstaLogo.png" style="width:300px" />
      </div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm-3"></div>
     </div>

     <div class="row" style="margin-top: 30px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            Sign up to see photos and videos from your friends
        </div>
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3"></div>
       </div>

     


     <div class="row" style="margin-top: 30px;margin-left: 150px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
        <a style="color:rgb(19, 136, 182);font-size: large;font-weight: bold;">Login with FaceBook</a>
        </div>
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3"></div>
       </div>

       <div class="row" style="margin-top: 30px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
        ------------------------OR-------------------------------
        </div>
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3"></div>
       </div>
  
     <div class="row" style="margin-top: 30px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
      <input type="text" [(ngModel)]="ISign.email"  id="username"  placeholder="MobileNumber or email" class="form-control" />  
      </div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm-3"></div>
     </div>
  
  
     <div class="row" style="margin-top: 30px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
      <input type="text" [(ngModel)]="ISign.password"  id="pwd" placeholder="password" class="form-control" />  
      </div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm-3"></div>
     </div>


     <div class="row" style="margin-top: 30px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
        <input type="text" [(ngModel)]="ISign.fullName"  id="fulName" placeholder="FullName" class="form-control" />  
        </div>
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3"></div>
       </div>

       <div class="row" style="margin-top: 30px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
        <input type="text" [(ngModel)]="ISign.userName"  id="username1" placeholder="Username" class="form-control" />  
        </div>
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3"></div>
       </div>
    
       <div class="row" style="margin-top: 30px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            People who use our service may have uploaded your contact information to Instagram. Learn More
        </div>
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3"></div>
       </div>
    
  
  
     <div class="row" style="margin-top: 30px;margin-left: 200px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-7">
      <input type="button" id="btn1" value="SignUp" class="btn btn-primary" (click)="btn_signin()"  />  
      </div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm-1"></div>
     </div>
  

     <div class="row" style="margin-top: 30px;margin-left: 100px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        Have An Account?
      <input type="button" id="btn1" value="Login" class="btn btn-primary" (click)="btn_Login()"  />  
      </div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm-1"></div>
     </div>
  
     

     
  
    </div>
  </div>
  
  
  